<div class="messageContainer"
     [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
  <div class="messageData"
       [ngClass]="{'isOwnMessageData':isOwnMessage}">
    <span>
      <img src="{{profileUrl ? profileUrl : defaultUrl}}" alt="Avatar" width="42" height="42">
    </span>
        <span class="sender"
              [ngClass]="{'isOwnSender':isOwnMessage}">
            {{ userName }}
        </span>
    <span class="timestamp"
          [ngClass] = "{'isOwnTimestamp':isOwnMessage}">
            {{ timeStamp  }}
        </span>
  </div>
  <div class="messageContent"
       [ngClass]="{'isOwnMessageContent':isOwnMessage}">
    {{ messageContent }}
  </div>
</div>
