@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body  {
  height: auto;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding: 2em;
  color: #fff;
  font-family: 'Arial';
}

h1,h2,h3,h4,h5 {
  color: whitesmoke;
}

button {
  margin-left: 10px;
}

.button button {
  margin-top: 10px;
}


:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.fa-eye, .fa-eye-slash {
  position: absolute;
  right: 5px;
}




